CPCL

1) questions about my family background—how many members are in my family, what they do, and how much land we have. Then, they moved on to technical questions, starting with my internship at HPCL. Crude and Vacuum distillation Unit,pumps  specifically the advantages of centrifugal pumps compared to other types.packing in distillation columns.
I explained the types of packing, drew a simple diagram of random and structured packing, and described them. Finally, they asked about the Fluid Catalytic Cracking Unit (FCCU)
Draw packed bed diagram and explain about it?

Explain about the Pump curve

 technical Valve, pump,thermodynamical cycle, heat exchanger, distilation, coating and good to have some knowledge about companies new projects

 it was about internship, project and then related technical questions.
tell us about your internship training

Group Discussion wherein 10 people were allowed to debate on social issue,Interviewed for half n hour. psychometric test for 15 mins. Most of the questions were technical and related to oil and gas , mass transfer and pumps and troubleshooting

Background check:  25%

Skills test:  25%

IQ intelligence test:  25%

Group panel interview:  25%


2)What are the products CPCL producing?

3)Regarding Motors. AC/DC, types, Speed control

